/* CSS Document */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

ul, ol {
  padding-left: 15px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3, h4 {
  color: #000000;
}

.mlr-auto {
  margin: 0 auto;
}

.btn-primary {
  background: #f74e05;
  border: 0;
}

.btn-primary:hover {
  background: #00a283;
}

#mainWrap {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  padding: 10px 0;
}

.header .logo {
  float: left;
}

.header .header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.header .header-buttons .btn-primary {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
  .header .header-buttons {
    justify-content: left;
    padding-top: 10px;
  }
  .header .header-buttons .btn-primary {
    margin-left: 0;
    margin-right: 10px;
  }
}

.navbar-header {
  float: right;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  margin-top: 8px;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
}

.nav-bar {
  margin-top: 20px;
}

.navbar-toggle span {
  color: #fff;
}

ul.nav {
  margin: 0;
  padding: 0;
}

.navbar-default .navbar-nav > li > a {
  font-size: 24px;
  color: #737373;
  text-transform: uppercase;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
  -ms-transition: all .7s ease 0s;
  padding: 14px 15px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #42b3e5;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

li a.active {
  color: #42b3e5 !important;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 4px;
}

.navbar-toggle span {
  background: #2a2a2a;
}

/*search area*/
.search-row {
  margin: 0;
  padding: 0;
}

.search {
  margin: 0 0 20px  0;
  padding: 0 !important;
  background: url("images/banner.jpg") no-repeat center center/cover #FFF;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search .search-box {
  background: rgba(0, 128, 128, 0.6);
  max-width: 740px;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 10px;
}

.search h1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.search p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

.search select {
  height: 50px;
  padding: 0 20px;
  margin: 0 10px 10px 0;
  font-size: 16px;
}

.search button {
  width: 180px;
  height: 50px;
  line-height: 40px;
  background: #f74e05;
  color: #fff;
  font-size: 24px;
  border: 0;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  border-radius: 5px;
  cursor: pointer;
}

.search button:hover {
  background: #2a2a2a;
}

.flexRow {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.flexRow p {
  margin: 0;
}

#container {
  padding: 20px 30px;
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
}

#container h2 {
  margin-top: 0;
  font-size: 30px;
  font-weight: 600;
}

#container .sort-select {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  min-width: 150px;
  padding: 5px 10px;
}

.itemBox {
  background: #e6f9e0;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border: 1px solid #86d06f;
}

.itemBox h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}

.itemBox .collapse h4 {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #000;
}

.itemBox .btn-primary {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .itemBox img {
    margin-bottom: 15px;
    width: 100%;
  }
}

#footer {
  background: #2e8b57;
  color: #FFF;
  padding: 30px 0 0 0;
}

#footer h4 {
  font-weight: 600;
}

#footer h4, #footer a {
  color: #FFF;
}

#footer .text-center {
  padding: 10px 0;
  margin-top: 30px;
  background: #217044;
}

#footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .search {
    min-height: 300px;
  }
  .search .search-box {
    margin: 15px;
  }
  .search h1 {
    font-size: 36px;
  }
  .itemBox img {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=main.css.map */